/*==========  Desktop First  ==========*/

// /* Large Devices, Wide Screens */
// @media (max-width : 1200px)
// /* Medium Devices, Desktops */
// @media (max-width : 992px)
// /* Small Devices, Tablets */
@media (max-width : 900px)
    .join
        padding: 80px 0
    .hero__wrapper
        flex-direction: column
    .hero__left, .hero__right
        width: 100%
    .hero__left
        padding-left 50px
    .hero__right
        height: 806px
    .swiper
        max-height: 416px
    .join__abs:nth-of-type(1)
        top: 70%
        left: 15%
    .join__abs:nth-of-type(2)
        left: 93%
    .book__wrapper
        flex-direction: column
        align-items: center
    .book__title
        font-size 30px
        line-height 34px
        margin-bottom 10px
        text-align center
        max-width: 313px
        letter-spacing: -0.5px;
    .book__desc
        font-size 14px
        line-height 22px
        text-align center
        margin: auto
    .book
        padding: 80px 0
    .book__right
        height: 406px
        perspective: 600px
    .book__pic
        top: 7%
        transform: rotateX(-25deg)
        max-width: 216px
        right calc(350px + 0.5 * (100% - 900px))
    .book__abs-1
        max-width: 102px
    .book__abs-2
        max-width: 65px
    .book__abs-3
        max-width: 65px
    .video__subtitle
        top: 65%
        font-size clamp(40px, 10vw ,90px)
        line-height clamp(33px, 10vw ,90px)
// /* Small Devices, Tablets */
// @media (max-width : 568px)
// /* Small Devices, Tablets */
@media (max-width : 768px)
    .join
        padding: 60px 0
        &__desc
            font-size 14px
            line-height 20px
            margin-bottom 20px
        &__title
            font-size 30px
            line-height 34px
            max-width: 274px
            margin: 0 auto 20px
        br
            display none
        &__abs
            display none
    .hero__abs-1
        left: 12vw
    .footer
        padding: 60px 0
    .footer__logo
        margin: auto
    .footer__wrapper
        flex-direction: column
        align-items: center
        gap: 50px
    .footer__list
        flex-direction: column
        align-items: center
    .footer__social
        gap: 60px
        margin: auto
    .footer__copyright
        display block
        text-align center
    .footer__list-item a
        font-size 16px
        line-height 16px
    .footer__list-item 
        height: 18px
@media (max-width : 480px)
    .swiper-container-horizontal>.swiper-pagination-bullets
	    bottom: 15px
    .show
        display none
    .hidden
        display block
    .book__right
        height: 336px
    .swiper-container-vertical>.swiper-pagination-bullets
        display none
    .header
        padding: 30px 0
    .header__seeker
        display none
    .header__waitlist-desc
        display none
    .header__waitlist-plus span
        width: 16px
    .header__waitlist-plus span:before
        width: 16px

    .hero__left
        padding-left 0

    .hero__title
        h1
            font-size 74px
            line-height 74px
            text-align center
            margin 0 auto 5px
        span
            font-size 20px
            line-height 24px
            max-width: 243px
            text-align center
            margin: 0 auto 15px
            display block
    .hero__left
        padding-top 91px
        padding-bottom 116px
    .hero__desc
        font-size 14px
        line-height 22px
        max-width: 337px
        margin: 0 auto 20px
        text-align center
    .hero__button
        margin: auto

    .hero__abs-1
        max-width: 237px
        top: -18%
        left: 6%
    .hero__abs-2
        max-width: 237px
        top: 15vw
        left: 44%
    .hero__abs-1-desc
        width: 151px
        height 66px
        padding: 16px 22px 10px 17px
        p
            font-size 9px
            line-height 12.5px
            letter-spacing: -0.35px;
        div
            font-size 7px
            line-height 7px
            left: 19px
            bottom: 10px
    .hero__abs-2-desc
        width: 188px
        height: 93px
        padding: 16px 16px 12px 17px
        p
            font-size: 9.1px;
            line-height: 13px;
            letter-spacing: -0.35px;
        div
            font-size 7px
            line-height 7px
            bottom: 10px
            left: 19px
    .hero__right
        height: 395px
    .swiper
        max-height: 618px

    .video
        padding: 60px 0 0 0
        background-size: 100% 311px
        &__title
            font-size 30px
            line-height 34px
            max-width: 300px
            margin: 0 auto 30px
        &__block
            border-radius: 30px
            padding-top 62%
            max-width: 385px
        &__abs-outer
            width: 100%
        &__bg-outer
            height: 500px

    .how
        padding: 80px 0
        &__title
            font-size 30px
            line-height 34px
            margin-bottom 50px
        &__item
            &-pic
                margin-bottom 30px
            &-title
                font-size 20px
                line-height 24px
                margin-bottom 15px
            &-desc
                font-size 16px
                line-height 22px
                font-weight: 400

// /* Custom, iPhone Retina */
@media (max-width : 390px)
    .book__abs-1
        max-width: 72px
    .book__abs-2
        max-width: 45px
    .book__abs-3
        max-width: 45px
    .book__pic
        right: calc(130px + 0.5 * (100% - 390px))



@media (max-width : 375px)
    .book__right
        height: 276px
    .video__block
        padding-top 77%


@media (max-width : 320px)
    .book__right
        height: 226px
    .hero__abs-2
        top: 17%
    .video__block
        padding-top 88%
/**/
