$white = #ffffff
$black = #030402
$black-fade = #03040280
$accent = green
$title-color = #030402
$text-color = #000000
$link-color = #100da9

$min-width = 320px
$max-width = 1340px
$base-bg = #FFFFFF
$base-font-size = 14px
$base-line-height = 18px
$base-font-family = 'Soleil', sans-serif
$custom-font-family = 'Soleil', sans-serif
$default-transition = all 0.25s ease-out

$font-size-h1 = 144px
$line-height-h1 = 144px
$font-size-h2 = 32px
$line-height-h2 = 37px
$font-size-h3 = 28px
$line-height-h3 = 32px